# Build output
# Ignore build output directories
/backend/bin/
/backend/obj/
/crypto-manager-frontend/node_modules/
/crypto-manager-frontend/dist/


# Visual Studio files
*.user
*.suo
*.vs/

# NuGet packages
*.nupkg
packages/

# Database files
*.mdf
*.ldb

# Logs
*.log

# Visual Studio debugging settings
launchSettings.json

/frontend/node_modules/
/frontend/dist/
/frontend/.env

